/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/.gitignore
.idea/composerJson.xml
.idea/dataSources.xml
.idea/laravel-plugin.xml
.idea/misc.xml
.idea/modules.xml
.idea/nanodo.iml
.idea/php.xml
.idea/vcs.xml
